---
layout: default
---

<div class="home">

  <h1 class="page-heading">Blog</h1>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h3>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h3>
      </li>
    {% endfor %}
  </ul>
   
  <!-- Categorized Blog index -->
  
  <h1 class="page-heading">Deep Learning Blogs</h1>
  <ul class="post-list">
    {% for page in site.pages %}
      {% if page.categories contains 'deep-learning' %}
	      <li>
	        <h3>
	          <a class="post-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
	        </h3>
	      </li>
      {% endif %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ '/feed.xml' | prepend: site.baseurl }}">via RSS</a></p>

</div>
